<!-- <div style="background-color:#ebecf0;padding:2rem 0">
    <div
        style="margin:0 auto;max-width:600px;text-align:center;padding:0rem 0 3rem 0;background-color:#ffffff;border-radius:33px">
        <img src="https://www.lyomerchant.com/img/logo.png"
            class="CToWUd" style="width: 100%; height: 200px; object-fit: contain;">
        <h2>LYOMERCHANT <br/><small style="font-size: 14px;">Lyo-Merchant</small></small></h2>
        <h3>Trans-ID : <%= data.transdetails%> </h3>
        <div>
                    <p style="padding:2rem 1rem 0  1rem">Following are the Details </p>

                    <table style=" font-family: arial, sans-serif; border-collapse: collapse; width: 100%;">
                        <tr>
                          <th style = "border: 1px solid #dddddd; text-align: left;padding: 8px;">Pool Wallet Address</th>
                          <th style = "border: 1px solid #dddddd; text-align: left;padding: 8px;">Hot Wallet Address</th>
                          <th style = "border: 1px solid #dddddd; text-align: left;padding: 8px;">Amount</th>
                          <th style = "border: 1px solid #dddddd; text-align: left;padding: 8px;">Network Details</th>
                        </tr>
                        <tr>
                          <td style = "border: 1px solid #dddddd; text-align: left;padding: 8px;"><%= data.pooladdress%></td>
                          <td style = "border: 1px solid #dddddd; text-align: left;padding: 8px;"><%= data.hotaddress%></td>
                          <td style = "border: 1px solid #dddddd; text-align: left;padding: 8px;"><%= data.amount%></td>
                          <td style = "border: 1px solid #dddddd; text-align: left;padding: 8px;"><%= data.network%></td>
                        </tr>
                     
                    </table>        
                <p style="padding:2rem 1rem 0  1rem"><a href="<%= data.network%>" target="_blank"><%= data.network%></a></p>
            <p style="padding:2rem">If you have additional questions, please reach out to us at <a
                    href="mailto:support@lyomerchant.com" target="_blank">support@lyomerchant.com</a>.</p>
            <p>Best regards,<br>
                The LYOMERCHANT Team</p>
            <img src="https://www.lyomerchant.com/img/logo.png"
                style="text-align:center;margin:0 auto; width: 180px" class="CToWUd">
            <img src="https://ci6.googleusercontent.com/proxy/FS5Hi9DOIow7fl5r6Nqz8En7TkEimaJ3jq583L4vObBMTLlunJa9OEJZAbrxmVhrbe8NyP7xBMTxgGn-HVY6hNeVbChLcKWeuY5NHetVrKWEQk5rmv9vEvzLgAzy=s0-d-e1-ft#https://saas-oss.oss-cn-hongkong.aliyuncs.com/upload/20220219165125390.png"
                alt="lyotrade crypto buy and sell" title="lyotrade crypto buy and sell"
                style="text-align:center;margin:0 auto;padding:3rem 0 1rem 0" class="CToWUd">
            <p style="font-size:1rem;text-align:center;padding:0rem 2rem">Have a question? <a
                    href="https://support.lyomerchant.com/" style="color:#2b3992;font-weight:bold" target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://support.lyotrade.com/&amp;source=gmail&amp;ust=1652353693898000&amp;usg=AOvVaw1NGj3ywREdwqtOrzUuDM-Y">Contact
                    Support</a></p>
            <p>© 2022 LYOMERCHANT. All rights reserved.</p>
            <div class="yj6qo"></div>
            <div class="adL">
            </div>
        </div>
        <div class="adL">
        </div>
    </div>
    <div class="adL">
    </div>
</div> -->


<div style="background-color:#ebecf0;padding:2rem 0">
    <div
        style="margin:0 auto;max-width:600px;text-align:center;padding:0rem 0 3rem 0;background-color:#ffffff;border-radius:33px">
        <img src="https://www.lyomerchant.com/img/logo.png"
            class="CToWUd" style="width: 100%; height: 200px; object-fit: contain;">
        <h2> <small style="font-size: 14px;">Lyo-Merchant</small></small></h2>
        <h3>Trans-ID : <%= data.transdetails%> </h3>
        <div>
                    <p style="padding:2rem 1rem 0  1rem">Following are the Details </p>

                    <table style=" font-family: arial, sans-serif; border-collapse: collapse; width: 100%;">
                        <tr>
                          <th style = "border: 1px solid #dddddd; text-align: left;padding: 8px;">Pool Wallet Address</th>
                          <th style = "border: 1px solid #dddddd; text-align: left;padding: 8px;">Hot Wallet Address</th>
                          <th style = "border: 1px solid #dddddd; text-align: left;padding: 8px;">Amount</th>
                          <th style = "border: 1px solid #dddddd; text-align: left;padding: 8px;">Network Details</th>
                        </tr>
                        <tr>
                          <td style = "border: 1px solid #dddddd; text-align: left;padding: 8px;"><%= data.pooladdress%></td>
                          <td style = "border: 1px solid #dddddd; text-align: left;padding: 8px;"><%= data.hotaddress%></td>
                          <td style = "border: 1px solid #dddddd; text-align: left;padding: 8px;"><%= data.amount%></td>
                          <td style = "border: 1px solid #dddddd; text-align: left;padding: 8px;"><%= data.network%></td>
                        </tr>
                     
                    </table>        
                <p style="padding:2rem 1rem 0  1rem"><a href="<%= data.network%>" target="_blank"><%= data.network%></a></p>
            <p style="padding:2rem">If you have additional questions, please reach out to us at <a
                    href="mailto:support@lyomerchant.com" target="_blank">support@lyomerchant.com</a>.</p>
            <p>Best regards,<br>
                The LYOMERCHANT Team</p>
            <img src="https://www.lyomerchant.com/img/logo.png"
                style="text-align:center;margin:0 auto; width: 180px" class="CToWUd">
            <img src="https://ci6.googleusercontent.com/proxy/FS5Hi9DOIow7fl5r6Nqz8En7TkEimaJ3jq583L4vObBMTLlunJa9OEJZAbrxmVhrbe8NyP7xBMTxgGn-HVY6hNeVbChLcKWeuY5NHetVrKWEQk5rmv9vEvzLgAzy=s0-d-e1-ft#https://saas-oss.oss-cn-hongkong.aliyuncs.com/upload/20220219165125390.png"
                alt="lyotrade crypto buy and sell" title="lyotrade crypto buy and sell"
                style="text-align:center;margin:0 auto;padding:3rem 0 1rem 0" class="CToWUd">
            <p style="font-size:1rem;text-align:center;padding:0rem 2rem">Have a question? <a
                    href="https://support.lyomerchant.com/" style="color:#2b3992;font-weight:bold" target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://support.lyotrade.com/&amp;source=gmail&amp;ust=1652353693898000&amp;usg=AOvVaw1NGj3ywREdwqtOrzUuDM-Y">Contact
                    Support</a></p>
            <p>© 2022 LYOMERCHANT. All rights reserved.</p>
            <div class="yj6qo"></div>
            <div class="adL">
            </div>
        </div>
        <div class="adL">
        </div>
    </div>
    <div class="adL">
    </div>
</div>